:root {
    --most-text-color: #2e2f42;
    --secondary-text-color: #434455;
    --primary-accent-color: #4d5ae5;
    --secondary-accent-color: #404bbf;
    --light-background-color: #f4f4fd;
    --dark-background-color: #2e2f42;
    --text-color: #ffffff;
    --other-color: #e7e9fc;
    --letter-spacing: 0.02em;
    --line-height: 1.5;
    /* hero */
    --hero-gra:linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
   )
  }
  body {
    font-family: "roboto", sans-serif;
    color: var(--most-text-color);
  }
  h1, 
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding-left: 0;
  }
  
  button{
    cursor: pointer;
  }
  
  img {
    display: block;
  }
  
  .list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  
  .container{
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left:auto;
    margin-right:auto;
   
  }
  
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-color: #e7e9fc;
    border-style: solid;
    border-width: 0 0 1px 0;
  }
  .header-navigation {
  }
  .header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--primary-accent-color);
    margin-right: 76px;
  }
  .header-span {
    color: var(--most-text-color);
  }
  /*/////////////////////////////////////////// */
  .header-link.current {
    color: var(--secondary-accent-color);
  }
  /* ///////////////////////////////////////////// */
  .header-list{
    display: flex;
    gap: 40px;
  }
  .header-navigation{
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .header-container{
    display: flex;
    align-items: center;
  }
  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--most-text-color);
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--secondary-accent-color);
  }
  .address {
    font-style:normal;
  }
  .auth-nav {
    display: flex;
  }
  .auth-nav-item {
    margin-right: 40px;
  }
  
  .header-mail {
    font-weight: 400;
    font-size: 16px;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--most-text-color);
    
  }
  .header-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(----secondary-text-color);
  }
  .header-mail:hover,
  .header-mail:focus,
  .header-tel:hover,
  .header-tel:focus {
    color: var(--secondary-accent-color);
  }
  
  /* ---------------------HERO--------------- */
  .hero {
    background: var(--dark-background-color);
    background-image:var(--hero-gra),
     url(../images/people-office\ .jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center; 

  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    color: var(--text-color);
    margin-bottom: 48px;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto; 
    }
  .hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--line-height);
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--text-color);
    background: var(--primary-accent-color);
    border-radius: 4px;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    min-width: 169px;
    min-height: 56px;
  }
  .hero-btn:hover,
  .hero-btn:focus {
    background: var(--secondary-accent-color);
  }
  /* ------------------ABOUT------------------- */
  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .about-title {
    text-transform: capitalize;
  }
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .about-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .about-item {
  
  }
  .about-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.22;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
    margin-bottom: 8px;
  }
  .about-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(----secondary-text-color);
  }
  /* ---------------GENERAL------------- */
  .general {
    padding-bottom: 120px;
  }
  .general-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
    margin-bottom: 72px;
    text-align: center;
  }
  .general-list{
    display: flex;
    gap: 24px;
  }
  
  .general-item{
    width: calc((100%-48px)/3);
  }
  /* ------------------ TEAM-------------------- */
  .team{
    background: var(--light-background-color);
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
    margin-bottom: 72px;
    text-align: center;
  }
  .team-list {
    display: flex;
    gap: 24px;
  
  
  }
  .list {
  }
  .team-item {
    width: calc((100%-72px) / 4);
    background-color: #fff;
  }
  .team-caption {
    font-size: 20px;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
    margin-bottom: 8px;
    text-align: center;
  }
  .team-text{
  padding-bottom: 32px;
  padding-top: 32px;
  }
  .team-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(----secondary-text-color);
    text-align: center;
    margin-bottom: 8px;
  }

  .team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link  {
  width: 100%;
  height: 100%;
  background-color:var(--primary-accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.team-soc-icon{
  fill: red;
}
  /* ------------------FOOter------------------- */
  
  .footer-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.16px;
    letter-spacing: 0.03em;
    color: var(--primary-accent-color);
    margin-top: 16px;
    width: 264px;
  }
  .footer-span {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 1.16px;
    letter-spacing: 0.03em;
    color: var(--light-background-color);
  
  }
  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: var(--letter-spacing);
    color:var(--other-color);
    margin-top: 16px;
    width: 264px;
  }
  .footer {
    background: var(--dark-background-color);
    padding-top: 100px;
    padding-bottom: 100px;
    
  
  }
  
  /* ------------------PORTFOLIO------------------- */
  
  .portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .list-galerry{
    display: flex;  
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .galerry-item{
    width: calc((100% - 48px) / 3)
  }
  
    
  .btn-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
  }
    .btn-portfolio {
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--line-height);
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--text-color);
    background: var(--secondary-accent-color);
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    
  }
  .other-btn {
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--line-height);
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--primary-accent-color);
    background: var(--light-background-color);
    border-radius: 4px;
    border-color: #e7e9fc;
    border-style: solid;
    border-width: 1px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .flex-element-text {
    border-color: #e7e9fc;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-top: 32px;
  }
  .second-caption {
    font-size: 20px;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
    color: var(--most-text-color);
  }
  .second-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--secondary-text-color);
    margin-top: 8px; 
    
  }
  